apiVersion: v1
kind: Service
metadata:
  name: ecommerce-api
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: ecommerce-api
  ports:
    - name: http
      protocol: TCP
      port: 80          # puerto dentro del cluster (lo que usan otros pods)
      targetPort: 3000  # puerto del container (tu app Node)
      nodePort: 30080   # puerto expuesto en el nodo kind
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-api
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce-api
  template:
    metadata:
      labels:
        app: ecommerce-api
    spec:
      containers:
        - name: ecommerce-api
          image: dbrandy/restful-ecommerce
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              value: postgres://postgres:postgres@postgres:5432/restecommerce

